body {
  text-align: center;
  /* background-color: #011F3F; */
  background-color: #67E6DC;
  line-height: 1.5;
  color: black;
  /* color: #FEF2BF; */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  /* color: #FEF2BF; */
}
.gameRules {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  /* color: #FEF2BF; */
  text-align: left;
  line-height: 1.5;
}
.footer{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  /* color: #FEF2BF; */
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.startBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  /* color: #FEF2BF; */
  margin: 25px;
  padding: 1rem 1rem;
  display: inline-block;
  border: 10px solid black;
  border-radius: 10%;
  background-color: #0A79DF;
  /* background-color: #054181; */
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #EA425C;
}

.green {
  background-color: #45CE30;
}

.blue {
  background-color: #25CCF7;
}

.yellow {
  background-color: #FFF222;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
